# Trip Planner for NYC

## Merging all the clean datasets

In [1]:

#import libraries and dataset
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
#read art galleries dataset
df_artgallery = pd.DataFrame(pd.read_csv('Art Galleries.csv'))

df_artgallery

,CATEGORY,NAME,ADDRESS,ZIPCODE,PHONE NO.,URL,ADDITIONAL DETAILS
0,Art Gallery,O'reilly William & Co Ltd,52 E 76th St,10021,(212) 396-1822,http://www.nyc.com/arts__attractions/oreilly_w...,Not Available
1,Art Gallery,Organization of Independent Artists - Gallery 402,19 Hudson St.,10013,(212) 219-9213,http://www.nonprofitgallery.com/main/usa/ny/oi...,Not Available
2,Art Gallery,Owen Gallery,19 E 75th St,10021,(212) 879-2415,http://www.owengallery.com/about-us,Not Available
3,Art Gallery,P P O W Gallerie,511 W 25th St,10001,(212) 647-1044,http://www.ppowgallery.com/,Not Available
4,Art Gallery,P P O W Inc,476 Broome St,10013,(212) 941-8642,http://www.nyc.com/arts__attractions/p_p_o_w_i...,Not Available
...,...,...,...,...,...,...,...
912,Art Gallery,Odyssia Gallery,305 E 61st St,10021,(212) 486-7338,http://www.livevillage.com/newyork/art/odyssia...,Not Available
913,Art Gallery,Old Print Shop Inc,150 Lexington Ave,10016,(212) 683-3950,http://www.oldprintshop.com/,Not Available
914,Art Gallery,Omniguard Art Guarantee,115 Broadway,10006,(212) 577-9000,http://www.city-data.com/businesses/683951099-...,Not Available
915,Art Gallery,One Twenty Eight,128 Rivington St,10002,(212) 674-0244,http://www.galleryonetwentyeight.org/,Not Available
916,Art Gallery,Opera Gallery,115 Spring St,10012,(212) 966-6675,http://www.popaganda.com/events.htm,Not Available

In [3]:
#read all other datasets

df_museums = pd.DataFrame(pd.read_csv('Museums.csv'))
df_beaches = pd.DataFrame(pd.read_csv('Beaches.csv'))
df_botanical = pd.DataFrame(pd.read_csv('botanical.csv'))
df_watertrail = pd.DataFrame(pd.read_csv('Water TrailS.csv'))

In [4]:
df_hiking = pd.DataFrame(pd.read_csv('Hiking Trails.csv', encoding='windows-1252'))

In [5]:
df_restaurant = pd.DataFrame(pd.read_csv('Restaurants.csv'))

### Merge all datasets

In [6]:
df_merged = pd.concat([df_artgallery, df_museums, df_beaches, df_botanical, df_watertrail], axis=0)

df_merged

,CATEGORY,NAME,ADDRESS,ZIPCODE,PHONE NO.,URL,ADDITIONAL DETAILS
0,Art Gallery,O'reilly William & Co Ltd,52 E 76th St,10021,(212) 396-1822,http://www.nyc.com/arts__attractions/oreilly_w...,Not Available
1,Art Gallery,Organization of Independent Artists - Gallery 402,19 Hudson St.,10013,(212) 219-9213,http://www.nonprofitgallery.com/main/usa/ny/oi...,Not Available
2,Art Gallery,Owen Gallery,19 E 75th St,10021,(212) 879-2415,http://www.owengallery.com/about-us,Not Available
3,Art Gallery,P P O W Gallerie,511 W 25th St,10001,(212) 647-1044,http://www.ppowgallery.com/,Not Available
4,Art Gallery,P P O W Inc,476 Broome St,10013,(212) 941-8642,http://www.nyc.com/arts__attractions/p_p_o_w_i...,Not Available
...,...,...,...,...,...,...,...
43,Water Trails,Pier One at Brooklyn Bridge Park,Brooklyn Bridge Park Greenway,11201,Not Available,Not Available,Not Available
44,Water Trails,Hudson River Park (Pier 26),Hudson River Park at Hubert Street,10013,Not Available,Not Available,Not Available
45,Water Trails,"Riis Landing, Kayak/Canoe Launch",201 Rockaway Point Road,11697,Not Available,Not Available,Not Available
46,Water Trails,MacNeil Park,Poppenhusen Ave. bet. 115 St. and College Pl.,11356,Not Available,Not Available,Not Available
47,Water Trails,Randall's Island Park,Northwestern Randall's Island and Bronx Kill,10035,Not Available,Not Available,Not Available

In [7]:
df_merged.isnull().values.any()

False

### Add column for tourist type

In [8]:
Tourist_Type = []
for index, row in df_merged.iterrows():
    if (row['CATEGORY'] == 'Art Gallery'):
        Value = 'Family, Couple, Individual'
        Tourist_Type.append(Value)
    elif (row['CATEGORY'] == 'Museums'):
        Value = 'Family, Couple, Individual'
        Tourist_Type.append(Value)
    elif (row['CATEGORY'] == "Botanical Garden"):
        Value = 'Family, Couple'
        Tourist_Type.append(Value)
    elif (row['CATEGORY'] == "Water Trails"):
        Value = 'Friends, Couple, Individual'
        Tourist_Type.append(Value)
    elif (row['CATEGORY'] == "Beaches"):
        Value = 'Family, Friends, Couple, Individual'
        Tourist_Type.append(Value)
    elif (row['CATEGORY'] == "Hiking Trail"):
        Value = 'Friends, Couple, Individual'
        Tourist_Type.append(Value)
df_merged["TOURIST TYPE"] = Tourist_Type

In [9]:
#print the merged dataset

df_merged

,CATEGORY,NAME,ADDRESS,ZIPCODE,PHONE NO.,URL,ADDITIONAL DETAILS,TOURIST TYPE
0,Art Gallery,O'reilly William & Co Ltd,52 E 76th St,10021,(212) 396-1822,http://www.nyc.com/arts__attractions/oreilly_w...,Not Available,"Family, Couple, Individual"
1,Art Gallery,Organization of Independent Artists - Gallery 402,19 Hudson St.,10013,(212) 219-9213,http://www.nonprofitgallery.com/main/usa/ny/oi...,Not Available,"Family, Couple, Individual"
2,Art Gallery,Owen Gallery,19 E 75th St,10021,(212) 879-2415,http://www.owengallery.com/about-us,Not Available,"Family, Couple, Individual"
3,Art Gallery,P P O W Gallerie,511 W 25th St,10001,(212) 647-1044,http://www.ppowgallery.com/,Not Available,"Family, Couple, Individual"
4,Art Gallery,P P O W Inc,476 Broome St,10013,(212) 941-8642,http://www.nyc.com/arts__attractions/p_p_o_w_i...,Not Available,"Family, Couple, Individual"
...,...,...,...,...,...,...,...,...
43,Water Trails,Pier One at Brooklyn Bridge Park,Brooklyn Bridge Park Greenway,11201,Not Available,Not Available,Not Available,"Friends, Couple, Individual"
44,Water Trails,Hudson River Park (Pier 26),Hudson River Park at Hubert Street,10013,Not Available,Not Available,Not Available,"Friends, Couple, Individual"
45,Water Trails,"Riis Landing, Kayak/Canoe Launch",201 Rockaway Point Road,11697,Not Available,Not Available,Not Available,"Friends, Couple, Individual"
46,Water Trails,MacNeil Park,Poppenhusen Ave. bet. 115 St. and College Pl.,11356,Not Available,Not Available,Not Available,"Friends, Couple, Individual"
47,Water Trails,Randall's Island Park,Northwestern Randall's Island and Bronx Kill,10035,Not Available,Not Available,Not Available,"Friends, Couple, Individual"

In [10]:
#convert the dataset to csv file for visualisation:

df_merged.to_csv('Project_Merged_Group6.csv', index = False)

### Zipcode dataset

In [11]:
df_zipcode =  pd.DataFrame(pd.read_excel('Zipcode Proximity.xlsx'))

df_zipcode

,Number,ZIP Code_Statue of Liberty,Distance_Statue of Liberty,ZIP Code_Empire State Building,Distance_Empire State Building,ZIP Code_Times Square,Distance_Times Square,ZIP Code_Central Park,Distance_Central Park
0,1.0,10274.0,0.12 Miles,10122.0,0.10 Miles,10109.0,0.12 Miles,10101,0.23 Miles
1,2.0,10256.0,0.16 Miles,10121.0,0.16 Miles,10185.0,0.13 Miles,10102,0.24 Miles
2,3.0,10275.0,0.18 Miles,10119.0,0.20 Miles,10108.0,0.14 Miles,10106,0.25 Miles
3,4.0,10269.0,0.19 Miles,10001.0,0.24 Miles,10138.0,0.21 Miles,10109,0.26 Miles
4,5.0,10268.0,0.20 Miles,10117.0,0.25 Miles,10129.0,0.24 Miles,10107,0.28 Miles
...,...,...,...,...,...,...,...,...,...
173,NaN,NaN,NaN,7010.0,4.93 Miles,10030.0,4.74 Miles,10031,4.83 Miles
174,NaN,NaN,NaN,11105.0,4.95 Miles,10045.0,4.85 Miles,11245,4.92 Miles
175,NaN,NaN,NaN,11237.0,4.97 Miles,NaN,NaN,11205,4.93 Miles
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11202,4.97 Miles
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11242,4.99 Miles

### Cleanup

#### Note: Here we did not handle nan values because the number of zipcodes near different attractions differ and hence the remaining number of rows are filled with NaN which we need. For the code to work well we replace it with 0.

In [12]:
#change datatype of ZipCode column to int 
#Fill `NaN` values in Zip Code to 0 

columns = ['ZIP Code_Statue of Liberty', 'ZIP Code_Empire State Building', 'ZIP Code_Times Square', 'ZIP Code_Central Park']
df_zipcode['ZIP Code_Statue of Liberty'] = pd.to_numeric(df_zipcode['ZIP Code_Statue of Liberty'], errors='coerce')
df_zipcode['ZIP Code_Empire State Building'] = pd.to_numeric(df_zipcode['ZIP Code_Empire State Building'], errors='coerce')
df_zipcode['ZIP Code_Times Square'] = pd.to_numeric(df_zipcode['ZIP Code_Times Square'], errors='coerce')
df_zipcode['ZIP Code_Central Park'] = pd.to_numeric(df_zipcode['ZIP Code_Central Park'], errors='coerce')
df_zipcode[columns] = df_zipcode[columns].fillna(0)

In [13]:
df_zipcode

,Number,ZIP Code_Statue of Liberty,Distance_Statue of Liberty,ZIP Code_Empire State Building,Distance_Empire State Building,ZIP Code_Times Square,Distance_Times Square,ZIP Code_Central Park,Distance_Central Park
0,1.0,10274.0,0.12 Miles,10122.0,0.10 Miles,10109.0,0.12 Miles,10101,0.23 Miles
1,2.0,10256.0,0.16 Miles,10121.0,0.16 Miles,10185.0,0.13 Miles,10102,0.24 Miles
2,3.0,10275.0,0.18 Miles,10119.0,0.20 Miles,10108.0,0.14 Miles,10106,0.25 Miles
3,4.0,10269.0,0.19 Miles,10001.0,0.24 Miles,10138.0,0.21 Miles,10109,0.26 Miles
4,5.0,10268.0,0.20 Miles,10117.0,0.25 Miles,10129.0,0.24 Miles,10107,0.28 Miles
...,...,...,...,...,...,...,...,...,...
173,NaN,0.0,NaN,7010.0,4.93 Miles,10030.0,4.74 Miles,10031,4.83 Miles
174,NaN,0.0,NaN,11105.0,4.95 Miles,10045.0,4.85 Miles,11245,4.92 Miles
175,NaN,0.0,NaN,11237.0,4.97 Miles,0.0,NaN,11205,4.93 Miles
176,NaN,0.0,NaN,0.0,NaN,0.0,NaN,11202,4.97 Miles
177,NaN,0.0,NaN,0.0,NaN,0.0,NaN,11242,4.99 Miles

### Function to filter the Merged datasets based on Major Attraction

In [14]:
#function to return the values based on tourist attraction for Merged dataset

def get_filtered_tourist_df_by_attraction_zipcode(attraction_name):
    zip_column_name = 'ZIP Code_' + attraction_name
    distance_column_name = 'Distance_' + attraction_name
    list_of_zipcode_close_to_attraction = df_zipcode[zip_column_name].to_list()
    mask = df_merged['ZIPCODE'].isin(list_of_zipcode_close_to_attraction)
    filtered_df_merged = df_merged[mask]
    df_result = pd.merge(filtered_df_merged, df_zipcode[[zip_column_name, distance_column_name]],  how='left', left_on=['ZIPCODE'], right_on = [zip_column_name])
    return df_result.drop(zip_column_name, axis=1)

### Function to filter the restaurant datasets based on attraction

In [15]:
#function to return the closest restaurants for restaurant dataset

def get_filtered_restaurants(attraction_name):
    zip_col_nm = 'ZIP Code_' + attraction_name
    dist_col_nm = 'Distance_' + attraction_name
    list_of_zipcode_close_to_restaurant = df_zipcode[zip_col_nm].to_list()
    mask_val = df_restaurant['ZIPCODE'].isin(list_of_zipcode_close_to_restaurant)
    filtered_df_restaurant = df_restaurant[mask_val]
    df_result = pd.merge(filtered_df_restaurant, df_zipcode[[zip_col_nm, dist_col_nm]],  how='left', left_on=['ZIPCODE'], right_on = [zip_col_nm])
    return df_result.drop(zip_col_nm, axis=1)

In [16]:
#test restaurant code

resstaurants_close_to_statue= get_filtered_restaurants('Statue of Liberty')

resstaurants_close_to_statue

,CATEGORY,NAME,ADDRESS,ZIPCODE,PHONE NO.,URL,ADDITIONAL DETAILS,Distance_Statue of Liberty
0,Restaurant,MELANY RESTAURANT,"FLATBUSH AVENUE, Brooklyn",11226,Not Available,Not Available,Not Available,4.97 Miles
1,Restaurant,ING CAFE,"AVENUE OF THE AMERICAS, Manhattan",10036,Not Available,Not Available,Not Available,3.97 Miles
2,Restaurant,KOSSARS & BEYOND,"GRAND STREET, Manhattan",10002,Not Available,Not Available,Not Available,1.48 Miles
3,Restaurant,PORTAL LATINO RESTAURANT,"SMITH STREET, Brooklyn",11201,Not Available,Not Available,Not Available,1.19 Miles
4,Restaurant,UNREGULAR PIZZA,"4 AVENUE, Manhattan",10003,Not Available,Not Available,Not Available,2.29 Miles
...,...,...,...,...,...,...,...,...
12166,Restaurant,LE DOGGIE COOL,"WYTHE AVENUE, Brooklyn",11249,Not Available,Not Available,Not Available,3.28 Miles
12167,Restaurant,MARIE BLACHERE,"6 AVENUE, Manhattan",10014,Not Available,Not Available,Not Available,2.09 Miles
12168,Restaurant,ALMONDINE,"WATER STREET, Brooklyn",11201,Not Available,Not Available,Not Available,1.19 Miles
12169,Restaurant,OLIVER COFFEE,"EAST BROADWAY, Manhattan",10002,Not Available,Not Available,Not Available,1.48 Miles
12170,Restaurant,HENO HENO,"WEST 46 STREET, Manhattan",10036,Not Available,Not Available,Not Available,3.97 Miles

### Visualisation part (csv files extracted based on filtering)

In [17]:
#df_centralpark = get_filtered_tourist_df_by_attraction_zipcode('Central Park')

#df_centralpark.to_csv('Attractionsnear_Central_Park.csv', index = False)

In [18]:
#df_statue = get_filtered_tourist_df_by_attraction_zipcode('Statue of Liberty')
#df_statue
#df_statue.to_csv('Attractionsnear_StatueLiberty.csv', index = False)

In [19]:
#df_times = get_filtered_tourist_df_by_attraction_zipcode('Times Square')

#df_times.to_csv('Attractionsnear_TimesSquare.csv', index = False)

In [20]:
#df_empire = get_filtered_tourist_df_by_attraction_zipcode('Empire State Building')

#df_empire.to_csv('Attractionsnear_EmpireStateBuilding.csv', index = False)

### Function to filter the datasets based on distance

In [21]:
#function to return the values based on distance for merged dataset
def get_filtered_attraction_df_by_distance(closeby_attractions_df, attraction_name, upper_limit_distance):
    distance_column_name = 'Distance_' + attraction_name
    closeby_attractions['distance_value'] = closeby_attractions_df.apply(lambda x: float(x[distance_column_name].split(' ')[0]), axis=1)
    distance_limited_attractions = closeby_attractions[closeby_attractions['distance_value'] <= upper_limit_distance]
    distance_limited_attractions.sort_values(by='distance_value', inplace=True)
    filterdist = distance_limited_attractions.drop('distance_value', axis=1)
    return filterdist

In [22]:
#function to return the values based on distance for restaurant
def get_filtered_restaurant_by_distance(closeby_restaurants_df, attraction_name, upper_limit_distance):
    dist_col_name = 'Distance_' + attraction_name
    closeby_restaurants_df['distance_value'] = closeby_restaurants_df.apply(lambda x: float(x[dist_col_name].split(' ')[0]), axis=1)
    distance_limited_restaurants = closeby_restaurants_df[closeby_restaurants_df['distance_value'] <= upper_limit_distance]
    distance_limited_restaurants.sort_values(by='distance_value', inplace=True)
    filterdistrestaurant = distance_limited_restaurants.drop('distance_value', axis=1)
    return filterdistrestaurant

In [23]:
#testing if the function works properly on call
closeby_attractions = get_filtered_tourist_df_by_attraction_zipcode('Central Park')
attraction_distance_output = get_filtered_attraction_df_by_distance(closeby_attractions, 'Central Park', 2)

C:\Users\penpo\AppData\Local\Temp\ipykernel_18152\1222233976.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_limited_attractions.sort_values(by='distance_value', inplace=True)

In [24]:
#check to see unique value match
len(closeby_attractions.ZIPCODE.unique())

#we see here that the zipcodes are repeated for different areas and hence we get a lot of match for areas near Central Park

47

### Filtering based on Tourist Type

In [25]:
#function to filter the dataframes based on the tourist type based on the user input.

def tourist_type_filter(tourist_type):
    df_tt_updated = attraction_distance_output[attraction_distance_output['TOURIST TYPE'].str.contains(tourist_type)]
    return df_tt_updated

In [26]:
#testing the user defined function for Family

tourist_type_filter("Friends")

,CATEGORY,NAME,ADDRESS,ZIPCODE,PHONE NO.,URL,ADDITIONAL DETAILS,TOURIST TYPE,Distance_Central Park
894,Water Trails,Hudson River Park (Pier 84),"44th Street, Pier 84",10036,Not Available,Not Available,Not Available,"Friends, Couple, Individual",0.38 Miles
892,Water Trails,Riverside Park (72nd Street),"<p class=""alert alert-error"">The kayak launch ...",10069,Not Available,Not Available,Description: <p>For more information regarding...,"Friends, Couple, Individual",0.41 Miles
891,Water Trails,Riverside Park (79th Street),79th Street Boat Basin & Hudson River,10069,Not Available,Not Available,Description: Not Available Hours: Sunrise to S...,"Friends, Couple, Individual",0.41 Miles
897,Water Trails,Hudson River Park (Pier 66),W. 26th Street,10011,Not Available,Not Available,Not Available,"Friends, Couple, Individual",1.67 Miles

### Testing: Using Function call with inputs from the user

In [27]:
ma='Central Park'
tt='Friends'
distance = 2

In [28]:
closeby_attractions = get_filtered_tourist_df_by_attraction_zipcode(ma)
get_filtered_attraction_df_by_distance(closeby_attractions, ma, distance)
tourist_type_filter(tt)

C:\Users\penpo\AppData\Local\Temp\ipykernel_18152\1222233976.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_limited_attractions.sort_values(by='distance_value', inplace=True)

,CATEGORY,NAME,ADDRESS,ZIPCODE,PHONE NO.,URL,ADDITIONAL DETAILS,TOURIST TYPE,Distance_Central Park
894,Water Trails,Hudson River Park (Pier 84),"44th Street, Pier 84",10036,Not Available,Not Available,Not Available,"Friends, Couple, Individual",0.38 Miles
892,Water Trails,Riverside Park (72nd Street),"<p class=""alert alert-error"">The kayak launch ...",10069,Not Available,Not Available,Description: <p>For more information regarding...,"Friends, Couple, Individual",0.41 Miles
891,Water Trails,Riverside Park (79th Street),79th Street Boat Basin & Hudson River,10069,Not Available,Not Available,Description: Not Available Hours: Sunrise to S...,"Friends, Couple, Individual",0.41 Miles
897,Water Trails,Hudson River Park (Pier 66),W. 26th Street,10011,Not Available,Not Available,Not Available,"Friends, Couple, Individual",1.67 Miles

### GUI implementation

In [29]:
#pip install pysimplegui

In [30]:
#pip install pandasgui

In [31]:
import pandas as pd
import PySimpleGUI as psg
import io
import os
from PIL import Image

In [32]:
psg.theme("DarkTeal12")

'DarkTeal12'

In [33]:
l_majorattractions = ["Central Park", "Empire State Building", "Statue of Liberty", "Times Square"]
l_distance = [1, 2, 3, 4, 5]
l_touristtypes = ["Individual", "Couple", "Family", "Friends"]

In [34]:
image1 = Image.open(r'New York City - 1.jpeg')
image1.thumbnail((200, 200))
bio1 = io.BytesIO()
image1.save(bio1, format="PNG")

image2 = Image.open(r'New York City - 2.jpeg')
image2.thumbnail((200, 200))
bio2 = io.BytesIO()
image2.save(bio2, format="PNG")

image3 = Image.open(r'New York City - 3.jpeg')
image3.thumbnail((200, 200))
bio3 = io.BytesIO()
image3.save(bio3, format="PNG")

image4 = Image.open(r'New York City - 4.jpeg')
image4.thumbnail((200, 200))
bio4 = io.BytesIO()
image4.save(bio4, format="PNG")

In [35]:
layout = [[psg.Text("Tell us about your preferences and we will recommend the best places to visit to make your trip unforgettable!", size=(100, 2), font='Lucida', justification='left')],
          [psg.Image(data=bio1.getvalue(), key="-IMAGE-"),
          psg.Image(data=bio2.getvalue(), key="-IMAGE-"),
          psg.Image(data=bio3.getvalue(), key="-IMAGE-"),
          psg.Image(data=bio4.getvalue(), key="-IMAGE-")],
          [psg.Text("Major Attraction:", size=(60, 1), font='Lucida', justification='left')], 
          [psg.Combo(l_majorattractions)],
          [psg.Text("Distance (in miles):", size=(60, 1), font='Lucida', justification='left')], 
          [psg.Combo(l_distance)],
          [psg.Text("Tourist Type:", size=(50, 1), font='Lucida', justification='left')],
          [psg.Combo(l_touristtypes)],
          [psg.Button("RECOMMEND", font=("Lucida", 10), key="Recommend"), psg.Button("CANCEL", font=("Lucida", 10), key="Cancel")]
    ]

In [36]:
win = psg.Window(title="Welcome!", layout=layout)

In [ ]:
action, inputs = win.read()
ma_var = inputs[0]
d_var = inputs[1]
tt_var = inputs[2]
print(ma_var, d_var, tt_var)

while True:
    if action == "Cancel":
        break
    elif action == "Recommend":
        #call functions based on input values
        closeby_attractions = get_filtered_tourist_df_by_attraction_zipcode(ma_var)
        attraction_distance_output = get_filtered_attraction_df_by_distance(closeby_attractions, ma_var, d_var)
        op = tourist_type_filter(tt_var)
        final_output = op.drop(columns=['TOURIST TYPE'])
        print(final_output)
        
        #call restaurnat filter function
        restaurant_bydist= get_filtered_restaurants(ma_var)
        restaurant_op = get_filtered_restaurant_by_distance(restaurant_bydist, ma_var, d_var)
        
        data = []
        headers = []
        #headers = final_output.iloc[0].tolist()
        headers = final_output.columns.values.tolist()
        
        data = final_output[1:].values.tolist()
        
        restaurant_data =[]
        headers_r =[]
        headers_r =  restaurant_op.columns.values.tolist()
        restaurant_data =  restaurant_op[1:].values.tolist()
        
        
        #new op window
        output_layout = [
        [psg.Text("Here are the places you can visit:", size=(100, 2), font='Lucida', justification='left')],
        [
            psg.Table(values=data, headings = headers, 
                      auto_size_columns= False, 
                      justification='right',
                      num_rows=10,
                     tooltip='Recommendations for NYC')
        ],
        [psg.Text("Hungry after travelling so much? You can eat here:", size=(100, 2), font='Lucida', justification='left')],
        [
            psg.Table(values=restaurant_data, headings=headers_r, 
                      auto_size_columns= False, 
                      justification='right',
                      num_rows=10,
                     tooltip='Recommendations for NYC')
        ],
        ]

        opwindow = psg.Window(title = 'Recommended Places to visit', layout = output_layout)

        while True:
            event, values = opwindow.read()
            if event == "Cancel" or event == sg.WIN_CLOSED:
                break

        opwindow.close()

### End of Code - Please check the report for more details